* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr {
    border: 0.2px solid $linhas;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-left {
    display: flex;
    margin-left: 40px;
    gap: 6px;
    animation: fromRight 0.7s backwards;

    img {
        width: 15px;
    }

    h3 {
        color: $secondary-color;
    }
}

.cabecalho-right {
    display: flex;
    margin-right: 30px;
    gap: 25px;
    animation: fromRight 0.7s backwards;

    img {
        width: 18px;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.banner-container {
    img {
        width: 100%;
    }
}

.paragraphs {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    animation: fromRight 0.7s backwards;
}

.text {
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        color: #D9D9D9;
    }
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    gap: 50px 240px;
}

.card-item {
    display: flex;
    flex-direction: column;
    animation: fromBottom 0.8s backwards;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.card-img {
    width: 230px;
    height: 230px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.description {
    font-weight: 500;
    color: $secondary-color;
    margin: 5px;
}

.price {
    font-weight: 700;
    color: $primary-color;
    margin: 5px;

    span {
        font-size: 13px;
        color: $secondary-color;
        margin-right: 5px;
    }
}

.rodape-up {
    @include text-rodape(flex, space-between, center, 30px, 600, $secondary-color);
}

.email-rodape {
    input {
        width: 300px;
        height: 50px;
        margin-top: 10px;
        text-align: center;
        border: 1px solid #D9D9D9;
    }
}

.email {
    border-radius: 5px 0px 0px 5px;
}

.button {
    background-color: $primary-color;
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: #7fc745;
    }
}

.rodape-down {
    @include text-rodape(flex, space-between, center, 30px, 600, $secondary-color);

    img {
        margin: 10px;
    }
}

.logo-rede {
    width: 33px;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.logo-pag {
    width: 50px;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

}

.paypal {
    width: 30px;
}


@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
