* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr {
    border: 0.2px solid $linhas;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-left {
    display: flex;
    margin-left: 40px;
    gap: 6px;

    img {
        width: 15px;
    }

    h3 {
        color: $secondary-color;
    }
}

.cabecalho-right {
    display: flex;
    margin-right: 30px;
    gap: 25px;

    .icon {
        width: 18px;
    }
}



.rodape-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    color: $secondary-color;
}

.email-rodape{
    input{
        width: 300px;
        height: 50px;
        margin-top: 10px;
        text-align: center;
        border: 1px solid #D9D9D9;
    }
}
.email{
    border-radius: 5px 0px 0px 5px;
}
.button{
    background-color: $primary-color;
    border-radius: 0px 5px 5px 0px;
}

.rodape-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-weight: 600;
    color: $secondary-color;

    img{
        margin: 10px;
    }
}

.logo-rede{
    width: 33px;
}

.logo-pag{
    width: 50px;

    &.paypal{
        width: 30px;
    }

    &.visa{
        margin-bottom: 15px;
    }
}